:root{
    --header-color: #255;
    --light-header-color: #2559;
    --text-color: #333;
    --sd-text-color: #ffffff;
    --sd-text-color-lt: #ffffff83;
    --bg-color: #3325;
    --bg-color-dark: rgba(34, 34, 25, 0.801);
    --border-color: 2px #255 solid ;
    --bright-border-color: 2px rgb(72, 194, 194) solid ;
    --bright-header-color: rgb(72, 194, 194);
    --sd-border-color: 2px #3325 solid ;
    --desk-font: 18px;
    --mobile-font: 16px;
    --header-font: 22px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--desk-font);
    color: var(--sd-text-color);
}

body {
    background: url('../images/flat-lay-workstation-with-copy-space-laptop\ \(1\).jpg'), var(--bg-color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}


/* Sign Up Form Styles */
.form{
    display: flex;
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 2px);
    background-color: #141414;
    font-size: var(--desk-font);
}

fieldset{
    padding: 10px;
    width: 50%;
    transition: 0.3s;
}

.sign-up-legend{
    font-size: var(--header-font);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--header-font);
}

.signup-form input{
    border: none;
    border-bottom: var(--border-color);
    padding: 10px auto;
    background-color: transparent;
    outline: none;
    color: var(--sd-text-color);
    font-size: var(--header-font);
    padding: 5px 10px;
}

.signup-form label{
    font-size: var(--header-font);
}

.signup-form input::placeholder{
    color: var(--sd-text-color-lt);
    font-size: var(--header-font);
}

#profile-picture{
    margin: 10px 0;
    object-fit: cover;
    border: var(--sd-border-color);
    border: none;
    outline: none;
}

.Signin-link{
    color: var(--sd-border-color);
    text-decoration: none;
    transition: 0.3s;
    font-size: var(--header-font);
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 0;
    width: fit-content;
}

.Signin-link:hover{
    color: var(--header-color);
    text-decoration: underline;
}

.username-div, .usermail-div, .register-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 50px;
    font-size: var(--desk-font);
    transition: 0.3s;
}

.regitered-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-btn{
    margin: 10px 0;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--border-color);
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    font-size: var(--header-font);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.rules-div{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    transition: top 0.3s;
    z-index: 20000;
}

.rules{
    position: relative;
    width: 400px;
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 5px 16px 20px var(--bg-color-dark);
    transition: 0.3s;
    backdrop-filter: blur(20px);
    border: var(--bright-border-color);
    background-color: transparent;
}

.h2-and-close-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#rules-title{
    font-size: 25px;
    font-style: oblique;
    font-weight: 200;

}

.fa-square-xmark{
    position: relative;
    font-size: 30px;
    cursor: pointer;
    color: var(--bright-header-color);
    border: 2px var(--sd-text-color) solid;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.fa-square-xmark:hover{
    color: var(--sd-text-color);
    border: var(--bright-border-color);
}
.fa-square-xmark:hover .rules-text-box {
    color: var(--sd-text-color);
    border: var(--bright-border-color);
}


.rules-text-box{
    max-height: 200px auto;
    overflow: auto;
    line-height: 1.5;
    padding: 5px;
    border-radius: 15px;
    background-color: transparent;
    background: none;
    border: var(--bright-border-color);
    width: 100%;
}

.rules-text-box .rules-text{
    margin-bottom: 10px;
}

.rules-text-box::-webkit-scrollbar {
    width: 8px;
    color: var(--header-color);
}

.rules-text-box::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    color: var(--header-color);
    border-radius: 10px;
}

.rules-text{
    text-align: left;
    background-color: transparent;
    padding: 5px;
}

.rules:first-child{
    justify-content: center;
    align-items: center;
}

.rules .close-rules{
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: inherit;
}

.close-rules:hover{
    border-color: var(--sd-text-color);
    transform: scale(0.98);
    border-radius: 5px;
}

.container-div{
    width: 100%;
    height: 100vh;
}

header{
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 10px;
    position: sticky;
    border-bottom: 2px solid var(--sd-text-color);
}

.app-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-name .app-name-text{
    font-size: var(--header-font);
    font-weight: bold;
    /* color: var(--text-color) !important; */
}

.profile-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--sd-border-color);
    cursor: pointer;
}

.profile-div .profile-name{
    cursor: pointer;
}

.top-profile{
    width: 100%;
}

.top-profile h1{
    width: 100%;
    font-size: 33px;
    text-align: center;
}

.profile{
    gap: 15px;
    position: absolute;
    width: 90%;
    height: 80vh;
    top: 60px;
    right: 0px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 0 0 10px var(--sd-border-color);
    z-index: 10000;
    border: var(--bright-border-color);
    transition: 0.3s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-top-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.user-info{
    width: 100%;
}

.username-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1px;
    border-bottom: var(--bright-border-color);
    padding-bottom: 5px;
    height: fit-content;
}

.usersettings-info {
    text-decoration: none;
    border-bottom: var(--bright-border-color);
    line-height: 2;
    display: flex;
    justify-content: start;
    align-items: start;
}
.usersettings-info a{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: start;
}

.username{
    font-size: var(--header-font);
}

.usermail-info{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: var(--header-font);
    line-height: 2;
    border-bottom: var(--bright-border-color);
}

.user-info{
    font-weight: 500;
    text-align: center;
}

.logout-link{
    color: var(--sd-text-color);
    font-weight: bold;
    transition: 0.3s;
    line-height: 2;
    gap: 10px;
}

.error-message{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
    transition: top 0.3s;
    position: absolute;
    width: 100%;
    z-index: 2000;
    left: 0%;
}

.error-message-text{
    color: #ff6702;
    font-weight: bold;
    text-align: center;
    background-color: var(--header-color);
    padding: 5px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Main Content Styles*/
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 120px), auto;
    overflow-y: auto;
}
.main-content-selectors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
    backdrop-filter: blur(0px);
}

#name-of-players{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    padding: 2px 5px;
}

#name-of-players::placeholder{
    color: var(--sd-text-color);
}


#num-players-popup{
    width: 50px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
}

#num-players-popup option{
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    text-align: center;
}

.options-div{
    display: flex;
    gap: 5px;
}

.save-player-option-button{
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    flex-grow: 1;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.save-player-option-button:hover{
    border: 2px var(--sd-text-color) solid;
    transform: scale(0.98);
    border-radius: 5px;
}

.number-of-players{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-input-div{
    display: none;
    gap: 10px;
    padding: 5px 0;
}

.submit-names{
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
}

#default-names{
    width: 50px auto;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--border-color);
    cursor: pointer;
    display: flex;
    transition: 0.3s;
}

/*Controls*/
.control-buttons{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: var(--bright-border-color);
}

#start-game-button, #reset-button, #rules-button, #end-game-button, .show-score-board-button{
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    cursor: pointer;
    transition: 0.3s;
}

#start-game-button:hover, #reset-button:hover, #rules-button:hover, #end-game-button:hover, #set-timer-button:hover, .submit-names:hover, #default-names:hover, .custom-combination-button:hover, .bingo-stop-btn:hover, .signup-btn:hover, .show-score-board-button:hover{
    border: 2px var(--sd-text-color) solid;
    transform: scale(0.98);
    border-radius: 5px;
}

.choose-cobinations{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#combinations-selector{
    color: var(--sd-text-color);
    background-color: transparent;
    padding: 4px;
    outline: none;
    border: var(--bright-border-color);
}

#comb-options{
    background-color: var(--header-color);
    color: var(--sd-text-color);
    border-bottom: var(--text-color);
}

.js-custom-selection{
    display: none;
    gap: 20px;
    align-items: center;
}

#custom-combination-input{
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    padding: 2px 5px;
}

#custom-combination:focus{
    background-color: transparent;
    outline: none;
}

.custom-combination-button {
    padding: 2px 5px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color);
    cursor: pointer;
    transition: 0.3s;
}

.timer-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timer-div #timer-selector{
    width: 50px auto;
    outline: none;
    background: transparent;
    padding: 4px;
    border: var(--bright-border-color);
    display: flex;
    flex-grow: 1;
}

#timer-selector::placeholder {
    color: var(--sd-text-color);
}

.timer-counter{
    font-size: 1.5rem;
}

#set-timer-button{
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--border-color);
    cursor: pointer;
    transition: 0.3s;
}

.timer-element-div{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/*player-contents Styling*/
.player-contents{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    width: 300px auto;
    height: 500px auto;
    text-align: center;
}

.content-header-h2{
    font-size: var(--header-font);
    font-weight: bold;
}

.extra-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.used-letters{
    border: var(--bright-border-color);
    padding: 5px;
    letter-spacing: 1px;
    font-size: var(--desk-font);
}

.js-individual-cell{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    transition: 0.3s;
}

.individual-player-div-container{
    transition: 0.3s;
}

.individual-player-div-container:last-child{
    margin-bottom: 30px;
}

.individual-player-div-container:hover{
    transform: scale(0.99);
    border-radius: 5px;
}

.individual-player-div-container{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 350px;
    border: var(--bright-border-color);
    padding: 10px;
    gap: 20px;
    backdrop-filter: blur(10px);
}

.player-name{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: var(--bright-border-color);
    font-size: var(--header-font);
}

.displayed-combinations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.player-input-category{
    width: 100%;
    padding: 5px;
    color: var(--sd-text-color);
    font-size: var(--header-font);
    line-height: 1.5;
    outline: none;
    border: none;
    border-bottom: var(--bright-border-color);
    background-color: transparent;
    letter-spacing: 1.5px;
}

.player-input-category::placeholder{
    color: var(--sd-text-color);
    opacity: 0.5;
}

.categories{
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--desk-font);
}

.bingo-stop-btn{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--bright-border-color) ;
    cursor: pointer;
    transition: border 0.3s;
}

.game-ended-div{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.start-next-round{
    width: 100%;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: var(--sd-border-color);
    cursor: pointer;
    transform: border 0.3s;
}

.bingo-stop-btn:hover{
    border: var(--border-color);
}


/* ScoreBoard */
.score-board{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    display: none;
}

#score-board-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    border: var(--bright-border-color);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--bright-header-color);
    z-index: 10000;
}

/* .scoreboard {
  margin-top: 20px;
  padding: 10px;
  background: #222;
  border: var(--bright-border-color);
  border-radius: 6px;
  width: fit-content;
} */

#score-board-dialog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 400px;
    max-width: 90%;
}

#score-board-dialog .score-board-contents {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#close-scoreboard-button{
    font-size: 20px;
    cursor: pointer;
    color: var(--sd-text-color);
    border: var(--bright-border-color) ;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    width: 100%;
    background-color: transparent;
}

.score-board-dialog .score-board-header {
    margin-bottom: 10px;
    font-size: var(--header-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.score-board-dialog ul {
  list-style: none;
  padding: 0;
}
.scoreboard li {
  margin: 4px 0;
}


/* .second-vid-overlay{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #333333a2;
    top: 100%;
    backdrop-filter: blur(20px);
    z-index: -1;
} */


/*Footer*/
footer{
    display: flex;
    background-color: var(--header-color);
    position: fixed;
    padding: 10px;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}